<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/booststrap/bootstrap/css/bootstrap.min.css">

    <style>
        body{
            padding-top: 60px;
            padding-left: 20px;
        }

            .tr-head{background: cyan;
            }
    </style>
    
    <link rel="stylesheet" href="../static/booststrap/bootstrap/css/bootstrap-responsive.min.css">
</head>
<body>
    
    <center>
    <div class="card" style="max-width: 18rem; background-color: #0553a1;">
        <img src="../static/img/cinepolis-logo-9.png">
    <label style="color: white">
        Total a pagar de {{nombre}}: 
        <br>
        <br>
    </label>
    <label style="color: white">{{total}}</label>
    <br>
    <br>
    <button > <a href="http://127.0.0.1:5000/menu" > Salir</a></button>
    <br><br>
</div>
    
</center>
</body>
</html>